.messages_wrapper {
    margin-top: 30px;
    display: flex;
    margin-bottom: 90px;
}

.left_panel {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    display: inline-block;
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}
.main {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70vh;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}
.messages {
    border: 1px solid #ede9e9;
    border-radius: 5px;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    position: relative;
    overflow-y: scroll;
}
.message_item_wrapper {
    display: flex;
    margin: 10px;
}
.reverse {
    flex-direction: row-reverse;
}
.message_item_wrapper p {
    margin: 0;
}
.message_item {
    border: 1px solid #ede9e9;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f9;
    display: flex;
    flex-direction: column;
}
.message_item p {
    font-size: 14px;
    color: #535165;
}
.message_image {
align-self: center;
height: max-content;
margin-top: 10px;
}
.message_image img {
    width: 100%;

}

.avatar_wrapper {
    display: flex;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    align-self: flex-end;
}
.message_data {
    margin: 0;
    line-height: 16px;
    font-size: 10px;
    color: #959ab5;
}


.type_message {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
.type_message textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    resize: none;
    overflow-y: scroll;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
}
.message_author_wrapper {
    display: flex;
    justify-content: center;
}
.message_author {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 20px 50px 20px;
    background-size: cover;
    background-position: center;
}
.create_message_controls {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 10px;
    margin-right: 90px;
    justify-content: flex-end;
    align-items: center;
}
.emojiBlock {
    max-width: 400px;
    height: 20px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid blue; */
}
.emoji {
    margin: 2px;
    cursor: pointer;
}
.emoji:hover {
    background: rgb(214, 214, 214);
}
.arrow_wrapper {
    background-color: rgb(172, 172, 172);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
}
.arrow_wrapper:hover {
    background-color: #d6d6d6;
}
.emoji_wrapper {
    display: flex;
}

.clip {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
    align-self: flex-end;
    cursor: pointer;
}
.pin_img_url {
    display: flex;
    align-items: center;
    width: 100%;
}
.pin_img_url p {
    margin: 0;
    width: 90px;
    font-size: 10px;
    color: #535165;
}
.pin_img_url input{
    border: 1px solid #e6ecf5;
    outline: none;
    width: calc(100% - 200px);
    max-width: 480px;
    height: 20px;
}
.send_message {
    margin-top: 20px;
}
