.type_post {
    display: flex;
}
.type_post textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    resize: none;
    overflow-y: scroll;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
}
.post_author_wrapper {
    display: flex;
    justify-content: center;
}
.post_author {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 20px 50px 20px;
    background-size: cover;
    background-position: center;
}
.create_post_controls {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    align-items: center;
}
.emojiBlock {
    width: 400px;
    height: 20px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid blue; */
}
.emoji {
    margin: 2px;
    cursor: pointer;
}
.emoji:hover {
    background: rgb(214, 214, 214);
}
.arrow_wrapper {
    background-color: rgb(172, 172, 172);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
}
.arrow_wrapper:hover {
    background-color: #d6d6d6;
}
.emoji_wrapper {
    display: flex;
}

.clip {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
    align-self: flex-end;
    cursor: pointer;
}
