.empty {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    /* width: calc(100%-40px); */
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.empty h2 {
    color: #b1b1b1;
    text-align: center;
    max-width: 400px;
}
.empty svg {
    margin: 20px 40px 40px 40px;
}
.empty a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #FF7555;
}