.custom_input {
    border: 1px solid #e6e6e6;
    height: 40px;
    display: block;
    margin-left: 0;
    padding: 5px 20px;
    font-size: 14px;
    width: 100%;
    color: #313131;
    border-radius: 5px;
}

.custom_input:focus {
    border: 1px solid #ff7555;
    outline: none;
}