.saved {
    margin-bottom: 90px;
    min-height: 200px;
    display: flex;
}
.right_panel {
    width: 25%;
    padding-right: 40px;
}
.main_panel {
    width: 70%;
    margin-left: 20px;
    /* padding: 20px; */
}
